<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>User Details</h4>
    </div>
    <div class="col-12">
      <div class="card">
        <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
          <div class="card-body">
            <div class="mb-3">
              <label for="user-name" class="form-label"> user-name:</label>
              <input id="user-name" class="form-control" type="text" formControlName="name" autofocus="true" />
            </div>
          </div>
          <!--footer boton guardar y cancelar-->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">submit</button>
            <a class="btn btn-secondary" routerLink="/">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
